.main {
  display: flex; /*footer bottom*/
  min-height: 100vh;
  flex-direction: column;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #00D7FF;
  transform: translate(-50%, -50%);
}
